body {
  width: 100vh;
  height: 100%;
  background:lightgrey;
}

#square, #ball {
  background:linear-gradient(45deg, red, blue);
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items:center;
  position: absolute;
  transition-timing-function: linear !important;
  color: rgb(190, 177, 151);
  left: 50px;
  cursor: pointer;
}

#square {
transition: 2s;
}

#ball {
  background:linear-gradient(90deg, blue, red);
  border-radius: 50%;
  transition: 4s;
}
  @keyframes jump {

    0% {
      top: 100px;
    }

    40% {
      background:linear-gradient(45deg, blue, red);
      width: 120px;
    }
    
    45% {
      top: 705px;
      background: red; 
      width:100px;
    }
    50% {
      top: 705px;
      background: red; 
      width:100px;
    }
    
    65% {
      background:linear-gradient(45deg, blue, red);
      width: 120px;
      }

    100% {
      top: 100px;
    }

  }

#line {
  position: absolute;
  height: 5px;
  width: 120px;
  border-radius: 50%;
  background: black;
  transition-timing-function: linear !important;
  margin-top: 550px;
  left: 3%;
  transition: 4s;
}

#list, #list2{
  margin-top: 250px; 
  cursor: pointer;
  width: 120px;
  background-color: rgb(7, 167, 167);
  padding: 10px;
  border-radius: 5px;
  color: aliceblue;
  text-align: center;
}

#columns, #columns2 {
  display: flex;
  color: aliceblue;
  gap: 10px;
  margin-top: 150px;
  position: absolute;
}

#columns>div, #columns2>div { 
  background-color: brown;
  padding-left: 20px;
  padding-right: 20px;
}