body {
  /* margin: 0px; */
  width: 100vh;
  height: 100%;
  background:lightgrey;
}

#square, #ball {
  background:linear-gradient(45deg, red, blue);
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items:center;
  position: absolute;
  transition-timing-function: linear !important;
  color: rgb(190, 177, 151);
  left: 50px;
  cursor: pointer;
}

#ball {
  background:linear-gradient(45deg, blue, red);
  border-radius: 50%;
  transition: 1s;
  /* animation: jump 2s cubic-bezier(0.445, 0.05, 0.55, 0.95)  alternate infinite; */
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
  @keyframes jump {
    from {
      top: 100px;
    }
    to {
      top: 690px;

    }
  }

#line {
  position: absolute;
  height: 5px;
  width: 120px;
  border-radius: 50%;
  background: black;
  transition-timing-function: linear !important;
  margin-top: 550px;
  left: 3%;
  transition: 1s;
}